@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #E2725B;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
     background-color: var(--cor-primaria);
     color: var(--cor-secundaria);
    
    
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;


}

.apresentacao__conteudo {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
    justify-content: space-between;
}

.apresentacao__conteudo__titulo {
    font-size:2.25rem;
    font-family: var(--fonte-primaria);
    text-align: left;

}

.titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    text-align: left;
    font-size: 1,5rem;
    font-family: var(--fonte-secundaria);
    text-align: left;
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 100%;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: clamp(12, 2vw, 16px);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    overflow: hidden;
    box-sizing: border-box;
}

img {
     max-width: 200%;
     margin-bottom: 2px;
     justify-content: center;
     height: auto;
     box-sizing: border-box;
     display: block;

}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__img {
    max-width: 50%;
    width: 29%;
    height: auto;
    align-items: center;
    border-radius: 10px;

}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu{
    justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    @media (max-width: 1000px) {
        .apresentacao__conteudo__titulo {
            font-size: 1.25rem;
        }
    }

        
}